<ion-view title="Locations" id="page13" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="locations-list9" class=" vacation_rec">
            <ion-item id="locations-list-item11" class="  "></ion-item>
        </ion-list>
        <a ui-sref="tabsController.thingsToDo" id="locations-button17" style="border-radius:100px 100px 100px 100px;" class=" button button-assertive  button-block icon ion-ios-world ">Let's Adventure</a>
    </ion-content>
</ion-view>
