<ion-view title="Locations" id="page13" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="locations-list9" class=" vacation_rec">
            <label class="item item-input " id="location1">
                <span class="input-label">Location</span>
                <input type="text" placeholder="" ng-model="formdata.location">
            </label>
        </ion-list>
        <a ui-sref="tabsController.thingsToDo" id="locations-button17" style="border-radius:100px 100px 100px 100px;" class=" button button-assertive  button-block icon-right ion-ios-world ">Find Me Things To Do</a>
    </ion-content>
</ion-view>
