<ion-view title="New Email" id="page14" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newEmail-form10" class="list ">
            <label class="item item-input " id="newEmail-textarea1">
                <input type="Email" placeholder="New email" ng-model="formdata.email1">
                </textarea>
            </label>
            <label class="item item-input " id="newEmail-textarea2">
                <input type="Email" placeholder="Confirm email" ng-model="formdata.email2">
                </textarea>
            </label>
            <a ui-sref="login" id="newPassword-button18" style="border-radius:1000px 1000px 1000px 1000px;" class=" button button-assertive  button-block " ng-click="changeEmail()">Save Change</a>
        </form>
    </ion-content>
</ion-view>
