<ion-view title="New Password" id="page14" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newPassword-form10" name="newPasswordForm" class="list ">
            <label class="item item-input " id="newPassword-textarea1">
                <input type="password" placeholder="New password" name="pass1" ng-minlength="6" ng-model="formdata.pass1" required>
            </label>
            <label class="item item-input " id="newPassword-textarea2">
                <input type="password" placeholder="Confirm password" name="pass2" ng-model="formdata.pass2" ng-pattern="formdata.pass1" required>
            </label>
            <div style="color: white;">
                <p ng-show="newPasswordForm.pass1.$error.minlength">* Password must be longer than 6 characters</p>
                <p ng-show="newPasswordForm.pass2.$error.pattern">* Passwords have to match</p>
            </div>
            <a ui-sref="login" ng-disabled="newPasswordForm.$invalid" id="newPassword-button18" style="border-radius:1000px 1000px 1000px 1000px;" class=" button button-assertive  button-block " ng-click="changePassword()">Save Change</a>
        </form>
    </ion-content>
</ion-view>
