<ion-view title="New Password" id="page14" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newPassword-form10" class="list ">
            <label class="item item-input " id="newPassword-textarea1">
                <input type = "password" placeholder="New password" ng-model="formdata.pass1"></textarea>
            </label>
            <label class="item item-input " id="newPassword-textarea2">
                <input type="password" placeholder="Confirm password" ng-model="formdata.pass2"></textarea>
            </label>
            <a ui-sref="login" id="newPassword-button18" style="border-radius:1000px 1000px 1000px 1000px;" class=" button button-assertive  button-block " ng-click = "changePass()">Save Change</a>
        </form>
    </ion-content>
</ion-view>
