<ion-view title="New Password" id="page14" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <table>
                <tbody>
                    <style>
                        #pass_reset{ 
                            margin-left: 70px;
                            text-align:center;
                        }
                    </style>
                    <tr align="center">
                        <td style="margin-left:10px">
                            <label id="pass_reset" for="budget_amt" style="color:white;font-size:15px">Enter Reset Code</label>
                            <input id="pass_reset" type="text" align="center" value="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form id="newPassword-form10" class="list ">
            <div class="spacer" style="width: 300px; height: 33px;"></div>
            <label class="item item-input " id="newPassword-textarea1">
                <span class="input-label">New Password :</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-input " id="newPassword-textarea2">
                <span class="input-label">Confirm Password:</span><textarea placeholder=""></textarea>
            </label>
            <a ui-sref="login" id="newPassword-button18" style="border-radius:1000px 1000px 1000px 1000px;" class=" button button-assertive  button-block ">Save Change</a>
        </form>
    </ion-content>
</ion-view>