<ion-view title="Planner" id="page9" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="planner-form6" class="list ">
            <label class="item item-select " id="planner-select2">
                <span class="input-label">Occassion</span>
                <select>
                    <option></option>
                    <option>Family</option>
                    <option>Friends</option>
                    <option>Get Away</option>
                    <option>Adventure</option>
                </select>
            </label>
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <ion-item class="item-icon-right  " id="planner-list-item15">Age Appropriate
                <i class="icon ion-ios-people"></i>
            </ion-item>
            <ion-checkbox name="age_adult">Adults</ion-checkbox>
            <ion-checkbox name="age_teens">Teens</ion-checkbox>
            <ion-checkbox name="age_children">Childrens</ion-checkbox>
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <label class="item item-input " id="planner-input10">
                <span class="input-label">Leaving</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="planner-input9">
                <span class="input-label">Returning</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <ion-list id="planner-list5" class=" ">
            <ion-item class="item-icon-right balanced  " id="planner-list-item18">Check Your Ideal Vacation
                <i class="icon ion-bonfire"></i>
            </ion-item>
            <ion-checkbox>Active</ion-checkbox>
            <ion-checkbox>NightLife</ion-checkbox>
            <ion-checkbox>Relax</ion-checkbox>
            <ion-checkbox>Arts &amp; Entertainment</ion-checkbox>
            <ion-checkbox>Watersports</ion-checkbox>
            <ion-checkbox>Nature</ion-checkbox>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <form id="planner-form8" class="list ">
            <label class="item item-input " id="planner-input12">
                <span class="input-label">Budget</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <a ui-sref="tabsController.locations" id="planner-button5" style="border-radius:80px 80px 80px 80px;" class=" button button-assertive  button-block icon-right ion-ios-world ">Plan Location</a>
    </ion-content>
</ion-view>