<ion-view title="Reset Password" id="page12" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <table>
                <tbody>
                    <style>
                        #pass_reset{ 
                            margin-left: 70px;
                            text-align:center;
                        }
                    </style>
                    <tr align="center">
                        <td style="margin-left:10px">
                            <label id="pass_reset" for="budget_amt" style="color:white;font-size:15px">Enter Email</label>
                            <input id="pass_reset" type="text" align="center" value="" ng-model="formdata.email">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <a ui-sref="newPassword" id="resetPassword-button12" style="border-radius:57px 57px 57px 57px;" class=" button button-assertive  button-block icon-right ion-paper-airplane ">Reset Password</a>
    </ion-content>
</ion-view>