<ion-view title="Reset Password" id="page12" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="reset-form" class="list ">
            <label class="item item-input " id="reset-email">
                <input id="pass_reset" type="text" value="" placeholder="email" ng-model="formdata.email">
            </label>
        </form>
        <a ui-sref="newPassword" id="resetPassword-button12" style="border-radius:57px 57px 57px 57px;" class="button button-assertive button-block icon ion-paper-airplane"> Reset Password</a>
    </ion-content>
</ion-view>
