<ion-view title="Reset Password" id="page12" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="reset-form" name="resetForm" class="list ">
            <label class="item item-input " id="reset-email">
                <input type="email" placeholder="email" name="email" ng-model="formdata.email" required>
            </label>
            <p style="color:red;" ng-if="errorMessage">* {{errorMessage}}</p>
            <div style="color:white;">
                <p ng-if="confirmMessage">* {{confirmMessage}}</p>
                <p ng-show="resetForm.email.$invalid && !resetForm.email.$pristine">* Must be a valid email address</p>
            </div>
        </form>
        <a ng-disabled="resetForm.$invalid" id="resetPassword-button12" style="border-radius:57px 57px 57px 57px;" class="button button-assertive button-block icon ion-paper-airplane" ng-click="getemail()"> Reset Password</a>
    </ion-content>
</ion-view>
