<ion-view title="Sign up" id="page7" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-formid" name="signUpForm" class="list ">
            <ion-list id="signUp-list3">
                <label class="item item-input " id="signUp-input3">
                    <input type="text" placeholder="name" name="name" ng-model="formdata.name" required>
                </label>
                <label class="item item-input " id="signUp-input6">
                    <input type="email" placeholder="email" name="email" ng-model="formdata.email" required>
                </label>
                <label class="item item-input " id="signUp-input5">
                    <input type="password" placeholder="password" name="password" ng-minlength="6" ng-model="formdata.log_pass" required>
                </label>
            </ion-list>
            <p style="color:red;" ng-if="errorMessage">* {{errorMessage}}</p>
            <div style="color:white;">
                <p ng-show="signUpForm.name.$invalid && !signUpForm.name.$pristine">* Name is required</p>
                <p ng-show="signUpForm.email.$invalid && !signUpForm.email.$pristine">* Must be a valid email address</p>
                <p ng-show="signUpForm.password.$invalid && !signUpForm.password.$pristine">* Password is required</p>
                <p ng-show="signUpForm.password.$error.minlength">* Password must be longer than 6 characters</p>
            </div>
            <a id="signUp-button3" style="border-radius:80px 80px 80px 80px;" class=" button button-assertive  button-block " ng-disabled="signUpForm.$invalid" ng-click="signup()">Sign up</a>
        </form>
    </ion-content>
</ion-view>
