<ion-view title="Sign up" id="page7" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <ion-list id="signUp-list3" class=" manual-list-fullwidth ">
                <label class="item item-input " id="signUp-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="E-Mail">
                </label>
                <label class="item item-input " id="signUp-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password">
                </label>
                <label class="item item-select Sign up" id="signUp-select1">
                    <span class="input-label">Security</span>
                    <select>
                        <option></option>
                        <option>Where did you graduate from?</option>
                        <option>Name of your first pet?</option>
                        <option>Middle Name?</option>
                    </select>
                </label>
                <label class="item item-input " id="signUp-input8">
                    <span class="input-label">Security Answer</span>
                    <input type="text" placeholder="Answer">
                </label>
            </ion-list>
            <a ui-sref="verifcationCode" id="signUp-button3" style="border-radius:80px 80px 80px 80px;" class=" button button-assertive  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>