<ion-view title="Sign up" id="page7" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form2" class="list ">
            <ion-list id="signUp-list3">
                <label class="item item-input " id="signUp-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="Name" ng-model="formdata.name">
                </label>
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="E-Mail" ng-model = "formdata.email">
                </label>
                <label class="item item-input " id="signUp-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password" ng-model = "formdata.log_pass">
                </label>
            </ion-list>
            <a ui-sref="verifcationCode" id="signUp-button3" style="border-radius:80px 80px 80px 80px;" class=" button button-assertive  button-block " ng-click = "signup()">Sign up</a>
        </form>
    </ion-content>
</ion-view>
