<ion-view title="Verifcation Code" hide-nav-bar="true" id="page10" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding">
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <form id="reset-form" class="list ">
            <label class="item item-input " id="budget_amt">
                <input id="budget_amt" type="text" value="" placeholder="verification code" ng-model="formdata.code">
            </label>
        </form>
        <a ui-sref="tabsController.planner" id="verifcationCode-button4" style="border-radius:80px 80px 80px 80px;" class="button button-assertive button-block icon ion-paper-airplane" ng-click="verifycode()"> Submit</a>
    </ion-content>
</ion-view>
