<ion-view title="eVaca" id="page6" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body itinerary" id="eVaca-list-item-container2"></div>
        <div class="spacer" style="width: 300px; height: 199px;"></div>
        <a ui-sref="tabsController.planner" id="eVaca-button14" style="font-size:20px;border-radius:70px 70px 70px 70px;" class=" button button-assertive  button-block icon ion-search ">Plan Trip</a>
        <div id="eVaca-button-bar1" class=" button-bar "></div>
    </ion-content>
</ion-view>