<ion-view title="Things To Do" id="page15" style="background-color:#2BB2B9;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body rec_event" id="thingsToDo-list-item-container7"></div>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <button id="thingsToDo-button19" style="border-radius:100px 100px 100px 100px;" class=" button button-assertive  button-block icon ion-ios-world ">Let's Adventure</button>
    </ion-content>
</ion-view>